# SMTP Email Server Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-16-char-app-password
SMTP_SECURE=true
SMTP_TO=aaraainfrastructure@gmail.com

# AdSense Configuration
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-8272185392622222
NEXT_PUBLIC_ADSENSE_SLOT_SIDEBAR=
NEXT_PUBLIC_ADSENSE_SLOT_BELOW_GALLERY=
